.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49, 49, 49, 0.8);

  .notification-content {
    color: white;
    border: 2px solid #ec2213;
    font-size: 35px;
    padding: 15px;
  }
}
