.full-card__container {
  width: 600px;
  height: 700px;
  border: 1px solid rgb(252, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .info {
    padding-left: 20px;
    padding-top: 20px;
  }
  .btn-close {
    width: 23px;
    height: 23px;
    background-color: red;
    border-radius: 2%;
    text-align: center;
    cursor: pointer;
  }
}
